ELEVENLABS_API_KEY=
ELEVENLABS_DEFAULT_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
ELEVENLABS_DEFAULT_MODEL_ID=eleven_multilingual_v2
ONEDRIVE_AUDIO_DIR=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=
MICROSOFT_TENANT=consumers
MICROSOFT_ONEDRIVE_FOLDER_NAME=French Audiobook MP3
OAUTH_COOKIE_SECRET=
HOST=127.0.0.1
PORT=8000
